<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href ="/about"> about </a> <br>
<a href ="/muffin"> muffin </a> <br>
<a href ="/cookie"> cookie </a> <br>
<a href ="/cream"> cream </a> <br>


<%= yield %>

</body>
</html>
